.App {
  text-align: center;
}
.App-Body {
  height: -webkit-fill-available;
  background-image: url('./images/bg-login.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.item button {
  background: white !important;
}
.color-of-fontHeader {
  color: white !important;
}

.ge-logo {
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.screens-background {
  background: white;
  height: -webkit-fill-available;
}
.logo-header-name h1{
  color: #62666a;
}
.header-tabs-items {
  margin-right:30px !important;
}
.header-tabs-items h4 {
  font-size: 15px;
  color: #3e4042;
  font-weight: 400;
}

.active.header-tabs-items h4 {
  font-size: 15px;
  color: #295db8;
  font-weight: 400;
}
/* .active.header-tabs-items h4:hover {
  background-color: #295db8 !important;
  border-color: white !important;
  color: white !important;
} */
/* .active.header-tabs-items:hover {
  background-color: #295db8 !important;
  border-color: white !important;
  color: white !important;
} */
.active.header-tabs-items {
  color: #295db8 !important;
  border-color: #295db8 !important;
}

.tabular-content {
  padding-top: 50px;
  padding-left: 30px;
}

.header-txn-table {
  display: inline-flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.header-txn-table h2 {
  margin-top: 2px !important;
  margin-left: 10px;
  opacity: .9;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -1.7px;
  text-align: center;
  color: #13294b;
}
/* .rt-thead.-header{
  min-height: 50px;
  padding: 8px !important;
} */
.ui.secondary.pointing.menu {
  border-bottom: 0px !important;
}
.header-navigation-bar {
  border-bottom: 1px solid #f1eded;
}
.header-icons-set {
  height: 42px;
  width: 42px;
  padding: 2px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #295eb8;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #295eb8;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  border-radius: 25px;
}

.react-file-reader {
  display: inline-flex;
}
.react-file-reader-button button {

  border: 1px solid #295eb8;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #295eb8;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  border-radius: 25px;
}
.upload-form-invoices {
  padding: 40px;
  border:1px dashed #62666a66;
  text-align:center;
  margin: 10px;
  border-radius: 8px;
}
.upload-form-invoices span {
  font-family: monospace;
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
}
.search-gridData {
  margin-bottom: 10px;
}
.search-gridData input {
  min-width: 400px;
}
.button-ge {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background: #295eb8;
}
.button-ge-container {
  text-align: center;
  margin: 10px;
}
.modalRowContent {
  font-weight: bold;
  padding: 8px;
}
.ui.segment.active.tab {
  display: none;
}
.ReactTable .rt-tbody .rt-td {
  text-align: center;
}
.rt-resizable-header-content {
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 500;
  font-size: 16px;
  color: #13294b;
}
.rt-td {
  font-size: 14px !important;
    font-weight: 200 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.modal .header{
  text-align: center;
  color: #13294b;
}
a .number{
  text-decoration: underline;
}
.column textarea {
  min-width: 400px !important;
  min-height: 100px !important;
}
.button-ge.resolve:hover  {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: green;
  background: white;
  border: 1px solid green;
}

.button-ge.resolve{
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background: green;
  border: 1px solid white;
}
.button-ge.dispute:hover {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: red;
  background: white;
  border: 1px solid red;
}

.button-ge.dispute {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: white;
  background: red;
  border: 1px solid white;
}
.results.transition.visible{
  display: none !important;
}
.disputedRow {
  color: red;
}
button:disabled {
  opacity: 0.4;
}
.add-button-settlements {
  margin-top: 11px;
  cursor: pointer;
}
.dropdown-form {
  zoom: 0.8
}
.analytics-page {
  min-width: 1100px !important;
  min-height: 1000px !important;
  border: none;
}
.button-update {
  margin-left: 15px !important;
  margin-top: 20px !important;
  width: 200px;
  height: 35px;
  background: green !important;
}